@import "../../scss/base";

.Button {
    text-decoration: none;
    color: $white;
    background-color: $purple;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0px 36px;
    border-radius: 50px;
    margin-top: 24px;
    @extend %base-transition;

    &:hover {
        @extend %btn-hover
    }
}