@import "../../scss/base";

.EventPage {
    padding-bottom: 60px;
}

.EventPage__img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid $gray-light;
    margin-bottom: 36px;
}

.EventPage__text {
    line-height: 28px;
    width: 80%;
    margin-top: 36px;
}

.EventPage__bage {
    padding: 12px 20px;
    background-color: $green;
    color: $white;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 500;
}

.EventPage__bage--price {
    background-color: $black;
}