@import "../../scss/base";

.SearchResults {
    border-bottom: 1px solid $gray-light;
    transition: 0.1s ease-in-out;

    &:first-child {
        border-radius: 12px 12px 0 0;
    }

    &:last-child {
        border-bottom: none;
        border-radius: 0 0 12px 12px;
    }

    &:hover {
        background-color: $purple-light;
    }
}

.SearchResults__img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid $gray-light;
    float: left;
}

.SearchResults__link {
    text-decoration: none;
    display: block;
    height: 48px;
    padding: 16px;
}

.SearchResults__title {
    color: $black;
    line-height: 48px;
    float: left;
    margin-left: 16px;
    width: 320px;
    @extend %triple-dots;
}